@charset "utf-8";

* {
	font-family: verdana, sans-serif
}

body {
	margin: 0 0px;
	background: url(images/body_bg.png) repeat;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

.cl {
	clear: both;
}

h3 {
	font-size: 24px;
	color: #25aae1;
	font-weight: none;
	padding: 0;
	margin: 0px 0 16px 0;
}

small {
	font-size: 10px;
}

b, strong {
	font-weight: bold;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.left {
	float: left;
}

.right {
	float: right;
}

.alignleft {
	float: left;
	margin-right: 15px;
}

.alignright {
	float: right;
	margin-left: 15px;
}

.clearfix:after, form:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.container_slider {
	margin: 0 auto;
	width: 400px;
	position: relative;
}

#content {
	background-color: #f7f7f7;
	border-radius: 2px;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
	margin: 0 0 0 1px;
	padding: 25px 0 0;
	position: absolute;
	text-align: center;
	text-shadow: 0 1px 0 #fff;
	width: 400px;
	min-height: 200px;
	top: -102px;
	right: 13px;
	top: 35%;
}

#content h1 {
	color: #7E7E7E;
	font: bold 25px;
	letter-spacing: -0.05em;
	line-height: 20px;
	margin: 10px 0 30px;
}

#content h1:before, #content h1:after {
	content: "";
	height: 1px;
	position: absolute;
	top: 10px;
	width: 27%;
}

#content h1:after {
	background: rgb(126, 126, 126);
	right: 0;
}

#content h1:before {
	background: rgb(126, 126, 126);
	left: 0;
}

#content form {
	margin: 0 20px;
	position: relative
}

#content form input[type="text"], #content form input[type="password"] {
	border-radius: 3px;
	box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0, 0, 0, 0.08) inset;
	transition: all 0.5s ease;
	background: #eae7e7 url(../img/8bcLQqF.png) no-repeat;
	border: 1px solid #c8c8c8;
	color: #777;
	font: 13px;
	margin: 0 0 10px;
	padding: 15px 10px 15px 40px;
	width: 80%;
}

input[type="text"], input[type="password"] {
	border-radius: 3px;
	box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0, 0, 0, 0.08) inset;
	transition: all 0.5s ease;
	background: #eae7e7;
	border: 1px solid #c8c8c8;
	color: #777;
	font: 13px;
	margin: 0 0 10px;
	padding: 10px;
	min-width: 250px
}

#content form input[type="text"]:focus, #content form input[type="password"]:focus,
	input[type="text"]:focus {
	box-shadow: 0 0 2px #ed1c24 inset;
	background-color: #fff;
	border: 1px solid #ed1c24;
	outline: none;
}

#username {
	background-position: 10px 10px !important
}

#password {
	background-position: 10px -53px !important
}

#content form input[type="submit"] {
	background: #25aae1;
	background: linear-gradient(top, #25aae1 0%, #157095 100%);
	border-radius: 4px;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset;
	border: 1px solid #157095;
	color: #fff;
	cursor: pointer;
	float: left;
	font: bold 15px;
	height: 35px;
	margin: 20px 0 35px 15px;
	position: relative;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	width: 120px;
}

#content form input[type="submit"]:hover {
	background: #157095;
	background: linear-gradient(top, #25aae1 0%, #157095 100%);
}

.btn1 {
	background: #25aae1;
	background: linear-gradient(top, #25aae1 0%, #157095 100%);
	border-radius: 4px;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset;
	border: 1px solid #157095;
	color: #fff;
	cursor: pointer;
	float: left;
	font: bold 15px;
	height: 35px;
	margin: 20px 0 35px 15px;
	position: relative;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	width: 120px;
}

.btn1:hover {
	background: #157095;
	background: linear-gradient(top, #25aae1 0%, #157095 100%);
}

#content form div a {
	color: #004a80;
	float: right;
	font-size: 12px;
	margin: 30px 15px 0 0;
	text-decoration: underline;
}

.button a {
	background: url(../img/8bcLQqF.png) 0 -112px no-repeat;
	color: #7E7E7E;
	font-size: 17px;
	padding: 2px 0 2px 40px;
	text-decoration: none;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.button a:hover {
	background-position: 0 -135px;
	color: #00aeef;
}

#card-group-details .card-status:nth-child(odd) {
	background: #f4f4f4;
	padding: 10px;
}

#card-group-details .card-status:nth-child(even) {
	background: #e7e7e7;
	padding: 10px;
}

#card-group-details .card-status h3 {
	font-size: 16px;
	font-weight: 300;
	color: #171717
}

#card-group-details .card-status p {
	font-size: 14px;
	color: #444
}