@CHARSET "ISO-8859-1";
#nav 
{
	background-color: #eeeeee !important;
    line-height: 30px;
}
.panel-default > .panel-heading {
    background-color: #eaedef;
    border-color: #ddd;
    color: #636261;
}
.panel-heading {
    font-weight: 600;
}

@media (min-width: 1360px)
{
	.container {
    	width: 1300px;
	}
}

.customAlert
{
	padding-top: 5px;	
	font-size: small;
}
